@use "../../scss/variables";
@use "../../scss/mixins" as *;

.small-date-clock {
  // Layout
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  // Styling
  color: whitesmoke;
  border: 1px solid var(--taskbar-item-border-color);
  font-family: var(--small-clock-font-family);
  border-radius: var(--taskbar-item-border-radius);
  transition: var(--taskbar-item-hover-transition);

  @include no-select-no-drag;

  // Utility Classes
  &.horizontal {
    font-size: 0.85rem;
    width: fit-content;
    min-height: 3rem;
    padding: 0rem 0.4rem;
    gap: 0.1rem;
  }

  &.vertical {
    font-size: 0.6rem;
    width: 3rem !important;
    padding: 0.7rem 0rem;
    gap: 0.3rem;
    
  }

  .time {
    line-height: 1;
  }

  // .date {
  // }

  &:hover {
    cursor: pointer;
    background-color: var(--taskbar-item-hover-bg);
  }
}
