@use "../../scss/variables";
@use "../../scss/mixins" as *;

.file-entry {
  height: 125px;
  // border: 1px solid magenta;
  border-radius: var(--taskbar-item-border-radius);
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  transition: var(--taskbar-item-hover-transition);

  .file-entry-icon {
    @include no-select-no-drag;
  }

  .file-entry-name {
    text-align: center;
    width: 100%;
    overflow: hidden;
  }

  @include no-select-no-drag;

  &.selected {
    background-color: var(--taskbar-item-hover-bg);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--taskbar-item-hover-bg);
  }
}

.file-entry-menu {
  color: white;
}
