@use "../../scss/variables";
@use "../../scss/mixins" as *;

.file-entry {
  height: 125px;
  // border: 1px solid magenta;
  border-radius: var(--taskbar-item-border-radius);
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
  transition: var(--taskbar-item-hover-transition);
  position: relative;
  font-size: 0.8rem;
  z-index: 1;

  .file-entry-icon {
    @include no-select-no-drag;
    max-width: 80%;
    max-height: 50%;
  }

  .file-entry-name {
    // border: 1px solid orange;
    text-align: center;
    width: 100%;
    padding: 0.1rem 0;
    word-break: break-all;
    overflow: hidden;
  }

  // @include no-select-no-drag;

  &.selected {
    background-color: var(--taskbar-item-selected-bg);
    .file-entry-name {
      overflow: visible;
    }

    &:hover {
      background-color: var(--taskbar-item-selected-bg);
    }
  }

  &:hover {
    cursor: pointer;
    background-color: var(--taskbar-item-hover-bg);
  }
}
.actions-section {
  position: absolute;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;

  .file-entry-actions {
    color: whitesmoke;
    bottom: -75px;
    width: fit-content;
    // max-width: 100%;
    font-size: 0.8rem;
    transform: translateY(-0.5rem);
    // text-align: center;
    font-family: var(--small-clock-font-family);
    border-radius: var(--taskbar-item-border-radius);
    height: fit-content;
    background-color: rgb(0, 75, 128);
    box-shadow: var(--file-entry-actions-box-shadow);
    z-index: 2;

    &:hover {
      cursor: pointer;
    }

    .action-wrapper {
      position: relative;

      &:first-child .action {
        padding-top: 0.4rem;
      }

      &:last-child .action {
        padding-bottom: 0.4rem;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }

      &:nth-child(even) .action {
        background: rgba(0, 0, 0, 0.3);
      }
    }

    .action {
      padding: 0.2rem 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.4rem;

      &:nth-child(even) {
        background-color: black;
      }

      &:hover {
        text-decoration: underline;
      }

      .submenu-arrow {
        font-size: 0.5rem;
      }
    }

    .submenu {
      position: absolute;
      left: 100%;
      top: 0;

      width: fit-content;
      min-width: 4.5rem;

      background-color: rgb(0, 75, 128);
      border-radius: var(--taskbar-item-border-radius);
      box-shadow: var(--file-entry-actions-box-shadow);
      overflow: hidden;

      z-index: 9999;

      .action-wrapper {
        &:nth-child(even) .action {
          background-color: rgb(0, 75, 128);
        }

        width: fit-content;
      }
    }
  }
}
