@use "../../scss/variables";

.windows-container {
  // background-color: red;
  pointer-events: none;
  z-index: 2; // Above DesktopFilesContainer & BackendStatusDisplay
  // display: flex;
  // justify-content: center;
  // align-items: center;
  position: relative;

  &.top,
  &.bottom {
    height: calc(100vh - var(--taskbar-height));
    width: 100%;
  }

  &.right,
  &.left {
    height: 100%;
    width: calc(100vw - var(--taskbar-height));
  }
}
