@use "../../scss/variables";

.desktop-files-container {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 6.5rem));
  gap: clamp(0.5rem, 2%, 1.5rem);
  padding: clamp(0.75rem, 3%, 1rem);
  position: fixed;
  align-content: start;
  justify-content: center;

  &.top, &.bottom {
    height: calc(100vh - var(--taskbar-height));
    width: 100%;
  }

  &.right, &.left {
    height: 100%;
    width: calc(100vw - var(--taskbar-height);
  }

  .file-entry {
    height: 100px;
    border: 1px solid magenta;
    min-width: 0;
  }

  
  &.right,
  &.left,
  &.bottom {
    padding-top: 2rem;
  }

  &.top {
    padding-bottom: 2rem;
    bottom: 0;
  }

  &.bottom {
    top: 0;
  }

  &.right {
    left:0;
  }

  &.left {
    right: 0;
  }

  
}
