@use "../../scss/variables";
@use "../../scss/mixins" as *;

.taskbar {
  position: fixed;
  background-color: rgba(225, 225, 225, 0.05);
  backdrop-filter: var(--taskbar-blur);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--taskbar-item-hover-transition);
  @include no-select-no-drag;

  &.horizontal {
    height: var(--taskbar-height);
    width: 100%;
    flex-direction: row;

    padding: 0.2rem 0.5rem;

    .left-or-top-group,
    .right-or-bottom-group {
      flex-direction: row;
    }

    &.open {
      height: 100%;
    }
  }

  &.vertical {
    height: 100%;
    width: var(--taskbar-height);
    flex-direction: column;
    padding: 0.5rem 0.2rem;

    .left-or-top-group,
    .right-or-bottom-group {
      flex-direction: column;
    }

    &.open {
      width: 100%;
    }
  }

  &.bottom {
    bottom: 0;
    &.open {
      align-items: flex-start;
    }
  }

  &.top {
    top: 0;
    &.open {
      align-items: flex-end;
    }
  }

  &.left {
    left: 0;
    &.open {
      align-items: flex-end;
    }
  }

  &.right {
    right: 0;
    &.open {
      align-items: flex-start;
    }
  }

  .left-or-top-group,
  .right-or-bottom-group {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
}
