@use "../../scss/variables";

.taskbar {
  position: fixed;
  background-color: rgba(225, 225, 225, 0.05);
  backdrop-filter: var(--taskbar-blur);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.horizontal {
    height: var(--taskbar-height);
    width: 100%;
    flex-direction: row;

    padding: 0.2rem 0.5rem;

    .right-or-bottom-group {
      flex-direction: row;
    }
  }

  &.vertical {
    height: 100%;
    width: var(--taskbar-height);
    flex-direction: column;
    padding: 0.5rem 0.2rem;

    .right-or-bottom-group {
      flex-direction: column;
    }
  }

  &.bottom {
    bottom: 0;
  }

  &.top {
    top: 0;
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  .left-or-top-group,
  .right-or-bottom-group {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
}
