@use "../../scss/variables";
@use "../../scss/mixins" as *;

.taskbar-item {
  // Layout
  display: flex;
  align-items: center;
  justify-content: center;

  height: 3rem;
  width: 3rem;

  max-width: 3rem;
  max-height: 3rem;

  border-radius: 0.5rem;
  border: 1px solid var(--taskbar-item-border-color);
  transition: var(--taskbar-item-hover-transition);

  &.active {
    background-color: var(--taskbar-item-hover-bg);
  }

  &.minimized-active {
    background-color: var(--taskbar-item-selected-bg);
    &:hover {
      background-color: var(--taskbar-item-selected-bg);
    }
  }

  img {
    width: 100%;
    height: 100%;
    max-width: 3rem;
    max-height: 3rem;
    object-fit: contain;

    @include no-select-no-drag;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--taskbar-item-hover-bg);
  }
}
