@use "../../scss/variables";

.text-editor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;

  .editor-area {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    padding-bottom: 1rem;

    .cm-scroller {
      min-height: 100%;
      // border: 1px solid lime;
      overflow-x: scroll;
      scrollbar-width: none;
    }
  }

  textarea {
    flex-grow: 1;
    // min-height: 100%;
    resize: none;
    border: none;
    background-color: white;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
    overflow-y: auto;
    padding: 0.5rem;

    &:focus {
      outline: none;
    }
  }

  .file-name-display,
  .file-path-display {
    width: 100%;
    height: 1rem;
    background-color: black;
    color: rgb(231, 231, 231);
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    font-family: var(--small-clock-font-family);
  }

  .file-name-display {
    justify-content: center;
    font-style: italic;
  }

  .file-path-display {
    justify-content: flex-start;
    padding: 0 0.7rem;
    position: absolute;
    bottom: 0;
  }
}
