@use "../../scss/variables";
@use "../../scss/mixins" as *;

.fullscreen-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--taskbar-item-border-color);
  transition: var(--taskbar-item-hover-transition);
  border-radius: 0.5rem;
  min-width: 3rem;
  min-height: 3rem;
  max-width: 3rem;
  max-height: 3rem;

  img {
    min-width: 2rem;
    min-height: 2rem;
    max-width: 2rem;
    max-height: 2rem;
    object-fit: contain;

    @include no-select-no-drag;
  }

  &.horizontal {
    height: 3rem;
    width: fit-content;
  }


  &:hover {
    background-color: var(--taskbar-item-hover-bg);
  }
}
