// _variables.scss (Used Throughout The App)

:root {
  --taskbar-height: 4rem;
  --taskbar-blur: blur(15px);
  --taskbar-item-hover-bg: rgba(104, 185, 225, 0.498);
  // --taskbar-item-hover-bg: rgba(255, 255, 255, 0.2);
  --taskbar-item-border-radius: 0.5rem;
  --taskbar-item-border-color: rgba(128, 128, 128, 0.3);
  --taskbar-item-hover-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  --backend-status-display-font-family:
    Consolas, Monaco, "Courier New", monospace;
  --backend-status-display-border-radius: 1rem;
}
